.header__icon-car {
    max-width: 96px;
    display: flex;
    animation-name: run;
    -webkit-animation-name: run;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    z-index: 0;
    
}

.icon-car {
    animation: none;
}

@media screen and (max-width: 919px) {
    .header__icon-car {
		max-width: 64px;
        margin-top: 50px;
    }
}

